---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
---

<MainLayout
  title="HAUS TALENT"
  description="Construcción y rehabilitación de edificios singulares e instalaciones deportivas."
>
  <main>
    <Hero />
  </main>
</MainLayout>