---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import Manifesto from '../components/Manifesto.astro';
import Expertise from '../components/Expertise.astro';
import VisualBand from '../components/VisualBand.astro';
---

<MainLayout
  title="HAUS TALENT"
  description="Construcción y rehabilitación de edificios singulares e instalaciones deportivas."
>
  <main>
    <Hero />
    <Manifesto />
    <Expertise />
    <VisualBand />
  </main>
</MainLayout>